.result {
  background-color: #f6f9ff;
  border-radius: 4px;
}

.movie-result {
  .movie-poster {
    width: 75%;
  }
}

.favorite-star {
  width: 20px;
  margin: 0 10px;
}

.movie-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-size: 1.2em;
}

.plot {
  margin: 20px;
  font-size: .8em;
}