.movie-result {
  margin: 20px 200px 20px 200px;
  border: 1px solid black;
  padding: 20px;

  .movie-poster {
    width: 150px;
  }
}

.favorite-star {
  width: 50px;
}

.favorite-star:hover {
}

.movie-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-size: 1.2em;
}

.plot {
  margin: 20px;
  font-size: .8em;
}