.review {
  display: grid;
  margin: 20px 200px 200px 200px;
  height: 100px;
}

.comment {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

// change color of placeholder
input::-webkit-input-placeholder {
  color: #2125298c;
}
input:focus::-webkit-input-placeholder {
  color: 999;
}