body {
  background-color: #4772d3;
}

.app {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.heading {
  font-family: 'Vollkorn', serif;
  font-size: 6em;
}

.list-group {
  background-color: #f6f9ff;
  border-radius: 4px;
}