<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Vollkorn:900i&display=swap" rel="stylesheet">
  <link href="../../../src/components/App/index.scss" rel="stylesheet">

  <title>moviwiki</title>
</head>

<body>
  <div class="container">
    <p class="favorites-list p-3"><a href="/">Home</a></p>
    <p class="heading text-left"><a href="/">moviwiki</a></p>
    <div class="list-group">
      <% favorite_movies.each do |movie| %>
        <div class="row m-3">
          <div class="col-6">
            <%= movie.title %>
          </div>
          <div class="col-3">
            <%# TODO - pass along the associated review with the movie %>
            <form method="post" action="/reviews/<%=movie.id %>">
              <input type="hidden" name="_method" value="patch"/>
              <button type="submit" class="btn btn-info">Update</button>
            </form>
          </div>
          <div class="col-3">
            <form method="post" action="/reviews/<%=movie.id %>">
              <input type="hidden" name="_method" value="delete"/>
              <button type="submit" class="btn btn-dark">Delete</button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>

<script src="/bundle.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</html>