<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>MoviWiki</title>
</head>

<body>
  <div class="container">
    <p class="text-right p-3"><a href="/">Home</a></p>
    <h1 class="text-center"=>moviwiki</h1>

    <h4>Your favorites</h4>
    <div class="list-group">
      <% favorite_movies.each do |movie| %>
        <div class="row m-3">
          <div class="col-lg">
            <%= movie.title %>
          </div>
          <div class="col-sm">

            <form method="post" action="/reviews/<%=movie.id %>">
              <input type="hidden" name="_method" value="delete"/>
              <button type="submit" class="btn btn-dark">Delete</button>

            </form>



            <a href="<%= @delete %>">
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>

<script src="/bundle.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</html>